<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input v-model="userlist" type="checkbox" value="Mary" id="user1" />
      <label for="user1"> Mary </label>
      <input v-model="userlist" type="checkbox" value="Candy" id="user2" />
      <label for="user2"> Candy </label>
      <input v-model="userlist" type="checkbox" value="Lulu" id="user3" />
      <label for="user3"> Lulu </label>
      <input v-model="userlist" type="checkbox" value="Mandy" id="user4" />
      <label for="user4"> Mandy </label>
      <p>
        <strong> User list : </strong> {{userlist}}
      </p>
    </div>
    <script src="https://unpkg.com/vue@3.0.4/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            userlist: []
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
